		body{
			font-family: "Times New Roman", Times, serif;
			color: #000000;
		}
		nav{
			background-color: #123456;
			height: 40px;
			color: #ffffff;
			font-size: 15px;
		}
		nav i{
			float: left;
			margin-top: 10px;
			margin-left:30px;
		}
		nav dl{
			float:left;
			margin-top: 10px;
			margin-left:50px;

		}
		dt{

		}
		dd{
			color: #ffffff;
			border:2px solid #123456;
			box-shadow: 0 1px 0 #123456;
			background: #123456;
		}



		.panel{
			margin:50px;
			width: 350px;

		}

		.panel-heading i{
			padding-right: 20px;
			float: right;
			cursor:pointer;
		}

		#statusNum{
			background: #223311;
			color:yellow;
			width:300px;
			height: 200px;
			margin: 20px;
			float: left;
		}
		#statusHis{
			background: #223311;
			color:yellow;
			width:300px;
			height: 200px;
			margin: 20px;
			float: left;
		}
		#statusPic{
			margin: 20px;
			float: left;
		}

		.status{
			display: flex;
  			justify-content: center;
  			margin: 50px;
  			position: absolute;
			/*margin: 0 auto;
			display: inline-block;*/
		}

		.showTime{

			position: absolute;

			top: 300px;
			width: 800px;
		}

		.popover{
			width: 150px;
		}